<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="my-form" method="post" th:object="${restorePasswordForm}">
    <div style="color: red"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

    <label for="password">Enter password: </label>
    <input name ="password" id="password" th:field="*{password}" type="text">
    <br>
  <label for="password_again">Enter password again: </label>
    <input name ="password_again" id="password_again" th:field="*{password_again}" type="text">  <br>
  <input type="submit" value="Restore">

</form>
</body>
<script>
    const form = document.getElementById('my-form');
    form.action = window.location.href;
    const passwordInput = document.getElementById("password");
    const confirmPasswordInput = document.getElementById("password_again");
    // сгенерировано GPT
    passwordInput.addEventListener("input", validatePasswords);
    confirmPasswordInput.addEventListener("input", validatePasswords);

    function validatePasswords() {
        const password = passwordInput.value;
        const confirmPassword = confirmPasswordInput.value;

        if (password !== confirmPassword) {
            confirmPasswordInput.setCustomValidity("Пароли не совпадают");
        } else {
            confirmPasswordInput.setCustomValidity("");
        }
    }
</script>
</html>