<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit config email</title>
</head>
<body>
<p style="color:red" th:text="${user_already_created}">
<p style="color:red" th:text="${ps_error}">

<label >Изменить почту</label>

<form id="form" method="post" action="/auth/edit_email/" th:object="${user}">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>

    <label for="email">Enter email: </label>

    <input type="text" th:field="*{email}" name ="email" id="email"/>
    <br>
    <div style="color: red"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

    <label for="password">Enter password: </label>
    <input name ="password" id="password" th:field="*{password}" type="text">
    <br>
    <input type="submit">
</form>


</body>
</html>